.wrapper {
  font-size: 0.8rem;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--status-bar-bg-color);
  color: var(--status-bar-text-color);
  border-top: solid 1px var(--status-bar-divider-color);

  p {
    margin: 0;
    padding: 0;
  }

  button {
    padding: 0 0.5rem;
    height: 100%;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--status-bar-button-hover-bg-color);
    }

    &:active {
      background-color: var(--status-bar-button-active-bg-color);
    }
  }
}