.wrapper {
  height: 100%;
  background-color: var(--file-explorer-column-bg-color);
  overflow-y: auto;
  // Fixes problem of padding making height taller than 100%;
  box-sizing: border-box;
  padding-bottom: 1.7rem;
}

.title {
  margin: 1rem 0 1rem 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}