ul {
  list-style-type: none;
  position: fixed;
  z-index: 99999;
  background-color: var(--context-menu-bg-color);
  margin: 0;
  padding: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  li {
    margin: 0;
    padding: 0;

    button {
      text-align: start;
      padding: 0.5rem 2rem;
      background-color: inherit;
      color: var(--context-menu-text-color);
      border: none;
      width: 100%;
      cursor: pointer;
      font-family: inherit;
      font-size: 1rem;

      &:hover {
        background-color: var(--context-menu-item-hover-bg-color);
        color: var(--context-menu-text-hover-color);
      }

      &[disabled] {
        cursor: default;
        background-color: var(--context-menu-bg-color);
        color: var(--context-menu-text-disabled-color);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}