ul {
  list-style-type: none;
  position: fixed;
  z-index: 99999;
  background-color: rgb(47, 54, 61);
  padding: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  li {
    padding: 0.5rem 2rem;

    &:hover {
      cursor: pointer;
      background-color: rgb(57, 65, 74);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}