/** Based on: "Bluloco Light Italic" */
@mixin theme-bluloco-light-italic {

    // TODO: Split theme files by below categories
    
    // -----------------
    // --- 1. Common ---
    // -----------------
    --common-text-color: rgb(56, 58, 66);

    --common-button-text-color: rgb(255, 255, 255);

    --common-button-bg-color: rgb(0, 131, 192);
    --common-button-hover-bg-color: rgb(0, 153, 225);
    
    // ----------------------
    // --- 2. Editor tabs ---
    // ----------------------
    --editor-tab-row-bg-color: rgb(232, 232, 232);

    --editor-tab-item-divider-color: rgb(213, 215, 216);

    --editor-tab-item-bg-color: rgb(238, 238, 238);
    --editor-tab-item-hover-bg-color: #f1f1f1;
    --editor-tab-item-active-bg-color: rgb(249, 249, 249);

    --editor-tab-active-item-close-button-bg-color: rgb(223, 223, 223);
    --editor-tab-inactive-item-close-button-bg-color: rgb(223, 223, 223);

    --editor-tab-item-border-color: rgb(238, 238, 238);
    --editor-tab-item-border-hover-color: #f1f1f1;
    --editor-tab-item-border-active-color: #0099e1;

    --editor-tab-text-color: rgb(160, 161, 167);
    --editor-tab-text-active-color: rgb(56, 58, 66);

    // -------------------------
    // --- 3.0 Editor window ---
    // -------------------------
    // 3.1 Editor line numbers column
    --editor-line-number-column-bg-color: #f9f9f9;

    --editor-line-number-text-color: #a0a1a7;
    --editor-line-number-text-active-color: #f31459;

    // 3.2 Editor file contents
    --editor-bg-color: #f9f9f9;

    --editor-text-color: #383a42;
    
    // ---------------------------------
    // --- 4. Sidebar file explorer ---
    // ---------------------------------
    --file-explorer-column-bg-color: rgb(232, 232, 232);

    --file-explorer-indentation-bar-color: rgb(208, 208, 208);

    --file-explorer-item-border-active-color: rgb(0, 153, 225);

    --file-explorer-item-text-color: rgb(56, 58, 66);
    --file-explorer-item-text-hover-color: rgb(56, 58, 66);
    --file-explorer-item-text-active-color: rgb(255, 255, 255);

    --file-explorer-item-bg-color: rgb(232, 232, 232);
    --file-explorer-item-hover-bg-color: rgb(241, 241, 241);
    --file-explorer-item-active-bg-color: rgb(0, 167, 245);

    // ---------------------
    // --- 5. Status bar ---
    // ---------------------
    --status-bar-bg-color: rgb(235, 235, 235);

    --status-bar-divider-color: rgb(0, 153, 225);

    --status-bar-text-color: rgb(56, 58, 66);

    --status-bar-button-hover-bg-color: rgb(237, 237, 237);
    --status-bar-button-active-bg-color: rgb(239, 239, 239);

    // -----------------------
    // --- 6. Context menu ---
    // -----------------------
    --context-menu-bg-color: #f9f9f9;

    --context-menu-text-color: rgb(56, 58, 66);
    --context-menu-text-hover-color: rgb(56, 58, 66);
    --context-menu-text-disabled-color: rgb(186, 186, 186);

    --context-menu-item-hover-bg-color: rgb(196, 217, 177);

    // --------------------------
    // --- 7. Command palette ---
    // --------------------------
    --command-palette-bg-color: rgb(232, 232, 232);

    --command-palette-item-hover-bg-color: rgb(241, 241, 241);
    --command-palette-item-active-bg-color: rgb(210, 236, 255);

    --command-palette-item-text-color: rgb(56, 58, 66);
    --command-palette-item-text-hover-color: rgb(56, 58, 66);
    --command-palette-item-text-active-color: rgb(56, 58, 66);

    --command-palette-search-box-bg-color: rgb(249, 249, 249);
    --command-palette-search-box-border-color: rgb(0, 153, 225);
    --command-palette-search-box-placeholder-color: rgb(160, 161, 167);
    --command-palette-search-box-text-color: rgb(56, 58, 66);

    // -----------------------
    // --- 8. Activity bar ---
    // -----------------------
    --activity-bar-bg-color: rgb(241, 241, 241);

    --activity-bar-resizer-color: rgb(0, 153, 225);
}