@mixin default-theme {

    // ----------------------
    // --- 1. Editor tabs ---
    // ----------------------
    --editor-tab-row-bg-color: rgb(37, 37, 37);

    --editor-tab-bg-active-color: rgb(30, 30, 30);
    --editor-tab-bg-color: rgb(45, 45, 45);

    --editor-tab-border-active-color: rgb(30, 30, 30);
    --editor-tab-border-color: rgb(45, 45, 45);

    --editor-tab-text-active-color: rgb(225, 225, 225);
    --editor-tab-text-color: rgb(144, 150, 144);

    // -------------------------
    // --- 2.0 Editor window ---
    // -------------------------

    // 2.1 Editor line numbers column
    --editor-line-number-column-bg-color: rgb(30, 30, 30);

    --editor-line-number-active-color: rgb(198, 198, 198);
    --editor-line-number-color: rgb(133, 133, 133);

    // 2.2 Editor file contents
    --editor-bg-color: rgb(30, 30, 30);

    --editor-text-color: rgb(255, 255, 255);
    
    // ---------------------------------
    // --- 3.0 Sidebar file explorer ---
    // ---------------------------------

    --file-explorer-column-bg-color: rgb(37, 37, 37);

    --file-explorer-item-active-color: rgb(255, 255, 251);
    --file-explorer-item-color: rgb(204, 204, 204);

    --file-explorer-item-active-bg-color: rgb(9, 71, 113);
    --file-explorer-item-bg-color: rgb(37, 37, 37);
    --file-explorer-item-hover-bg-color: rgb(42, 45, 46);
}