:host {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.number-container {
  width: 5%;
}

.file-contents {
  width: 95%;
  margin: 0;
  line-height: 1.85rem;
  cursor: text;
  // Renders the space characters and displays indentation
  white-space: pre;

  p {
    margin: 0;
    // Show lines with no content
    height: 1.85rem;
  }

  &:focus-visible {
    outline: none;
  }
}