<div class="line" [style.paddingLeft.rem]="folderDepth">
    <!-- <span class="caret" [class.expanded]="isExpanded">›</span> -->
    <img class="icon" [src]="chevronDownIcon" />
    <p class="text" >
        {{ folderName }}
    </p>
</div>

<!-- TODO: Fix the "isActive" part. -->
<app-file-explorer-tree-file
    *ngFor="let file of files"
    [fileName]="file.name"
    [filePath]="file.path"
    [fileDepth]="file.depth"
    [fileIcon]="file.iconPath"
    [isActive]="false"
></app-file-explorer-tree-file>