// TODO: Move up directory and make reusable

.line {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    margin: 0;
    height: 1.8rem;
    color: var(--file-explorer-item-text-color);
  
    &:hover {
        color: var(--file-explorer-item-text-hover-color);
        background-color: var(--file-explorer-item-hover-bg-color);
    }
}
  
.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    height: 1.1rem;
}