.wrapper {
  background-color: var(--editor-tab-bg-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--editor-tab-border-color);
  color: var(--editor-tab-text-color);

  &:hover {
    cursor: pointer;
    background-color: var(--editor-tab-bg-active-color);
  }

  &.active {
    background-color: var(--editor-tab-bg-active-color);
    border-bottom-color: var(--editor-tab-bg-active-color);
    border-top-color: var(--editor-tab-border-active-color);
    color: var(--editor-tab-text-active-color);
  }

  p {
    margin: 0;
    padding: 0.7rem;
  }
}