.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--editor-tab-bg-color);
  border: solid 1px var(--editor-tab-border-color);
  color: var(--editor-tab-text-color);

  img {
    height: 1.1rem;
    padding-left: 0.7rem;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--editor-tab-bg-active-color);

    .close-button {
      color: var(--editor-tab-text-color);
    }
  }

  &.active {
    background-color: var(--editor-tab-bg-active-color);
    border-bottom-color: var(--editor-tab-bg-active-color);
    border-top-color: var(--editor-tab-border-active-color);
    color: var(--editor-tab-text-active-color);

    .close-button {
      color: var(--editor-tab-bg-active-color);
    }

    &:hover .close-button { 
      color: var(--editor-tab-text-active-color);
    }
  }

  p {
    margin: 0;
    padding: 0.7rem;
    white-space: nowrap;
  }

  .close-button {
    color: var(--editor-tab-bg-color);
  }
}