.screen-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .editor-wrapper {
    flex-grow: 1;
    display: flex;
    // TODO: Tab list items push the activity bar
    // TODO: Make sidebar resizeable
    .editor {
      flex-grow: 1;
    }
  }

  .status-bar {
    display: block;
    width: 100%;
    // Taken from VSCode
    min-height: 22px;
  }
}

.welcome-screen {
  width: 100%;
  height: 100%;
}