<div class="screen-wrapper">
  <div class="editor-wrapper">
    <ng-container *ngIf="(editorTabs$ | async).length > 0; else welcomeScreen">
      <app-editor-window class="editor"></app-editor-window>
    </ng-container>


    <div class="activity-bar">
      <app-activity-bar>
        <app-file-explorer *ngIf="(userFiles$ | async).length > 0" class="sidebar"></app-file-explorer>
      </app-activity-bar>
    </div>
  </div>

  <app-status-bar class="status-bar"></app-status-bar>
</div>

<ng-template #welcomeScreen>
  <app-welcome-window class="welcome-screen"></app-welcome-window>
</ng-template>