<div
  class="wrapper"
  [ngStyle]="{top: 0 + 'px', left: leftX + 'px'}"
>
<!-- TODO: Implement search -->
  <div class="search-wrapper">
    <input
      autofocus
      type="text"
      placeholder="Select color theme (Up/Down keys to preview)"
      (keyup)="onKeyUp($event)"
    />
  </div>
  
  <ul>
    <li *ngFor="let choice of filteredChoices">
      <button
        type="button"
        [class.active]="choice.isActive"
        (click)="onCommandPaletteChoiceClick(choice)"
      >
        {{ choice.label }}
      </button>
    </li>
  </ul>
</div>