<div
    #treeItem
    class="line"
    [style.paddingLeft.rem]="depth"
    [class.active]="isActive"
>
    <ng-container *ngIf="isFile then file else folder"></ng-container>

    <ng-template #file>
        <img class="icon" [src]="fileIcon" />
        <p class="text">
            {{ name }}
        </p>
    </ng-template>

    <ng-template #folder>
        <img class="icon" [src]="isExpanded ? chevronDownIcon : chevronRightIcon" />
        <p class="text" >
            {{ name }}
        </p>
    </ng-template>
</div>

<app-context-menu
  [choices]="contextMenuChoices"
  [clickableElement]="treeItem"
  (itemClicked)="onContextMenuItemClicked($event)"
></app-context-menu>