@import "./styles/themes/dark-plus-default.scss";
@import "./styles/themes/monokai.scss";
@import "./styles/themes/bluloco-light-italic.scss";
@import "./styles/themes/material-darker-high-contrast.scss";

@font-face {
  font-family: 'Fira code';
  src: url("assets/fonts/FiraCode-Regular.woff2") format('woff2');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Fira code';
  color: var(--editor-text-color);
  background-color: var(--editor-bg-color);

  &.theme-dark-plus-default {
    @include theme-dark-plus-default;
  }
  
  &.theme-monokai {
    @include theme-monokai;
  }
  
  &.theme-material-darker-high-contrast {
    @include theme-material-darker-high-contrast;
  }
  
  &.theme-bluloco-light-italic {
    @include theme-bluloco-light-italic;
  }
}