:root {
  --editor-text-color: rgb(225, 228, 232);
  --editor-line-number-color: rgb(68, 77, 86);
  --editor-line-number-active-color: rgb(225, 228, 232);
  --editor-line-bg-active-color: rgb(43, 48, 54);
  --editor-bg-color: rgb(36, 41, 46);
  --editor-bg-active-color: rgb(43, 48, 54);
  --editor-tab-border-color: rgb(27, 31, 35);
  --editor-tab-border-active-color: rgb(249, 130, 108);
  --editor-tab-bg-color: rgb(31, 36, 40);
  --editor-tab-bg-active-color: rgb(36, 41, 46);
  --editor-tab-text-color: rgb(149, 157, 165);
  --editor-tab-text-active-color: rgb(225, 228, 220);

  --color-red: rgb(249, 117, 131);
  --color-blue: rgb(158, 203, 242);
  --color-yellow: rgb(255, 215, 0);
  --color-orange: rgb(255, 171, 112);
  --color-purple: rgb(179, 146, 240);
  --color-pink: rgb(218, 112, 214);
  --color-gray: rgb(106, 115, 125);
}

@font-face {
  font-family: 'Fira code';
  src: url(assets/fonts/FiraCode-Regular.woff2) format('woff2');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Fira code';
  color: var(--editor-text-color);
  background-color: var(--editor-bg-color);
}