@import "./styles/themes/test.scss";
@import "./styles/themes/default.scss";

:root {
  // TODO: Names are getting too long - fix it.
  --editor-text-color: rgb(225, 228, 232);
  --editor-line-number-color: rgb(68, 77, 86);
  --editor-line-number-active-color: rgb(225, 228, 232);
  --editor-bg-color: rgb(36, 41, 46);
  --editor-bg-active-color: rgb(43, 48, 54);
  --editor-tab-border-color: rgb(27, 31, 35);
  --editor-tab-border-active-color: rgb(249, 130, 108);
  --editor-tab-bg-color: rgb(31, 36, 40);
  --editor-tab-bg-active-color: rgb(36, 41, 46);
  --editor-tab-text-color: rgb(149, 157, 165);
  --editor-tab-text-active-color: rgb(225, 228, 220);
  --sidebar-file-tree-divider-color: rgb(47, 54, 61);
  --sidebar-file-tree-item-bg-active-color: rgb(40, 46, 52);
}

@font-face {
  font-family: 'Fira code';
  src: url(assets/fonts/FiraCode-Regular.woff2) format('woff2');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Fira code';
  color: var(--editor-text-color);
  background-color: var(--editor-bg-color);
}

.default {
  @include default-theme;
}

.test {
  @include test;
}