:host {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.number-container {
  width: 2%;
  padding-right: 1.5rem;
  padding-left: 1.7rem;
}

.file-contents {
  width: 100%;
  margin: 0;
  line-height: 1.85rem;
  cursor: text;
  // Renders the space characters and displays indentation
  white-space: pre;

  &:focus-visible {
    outline: none;
  }
}