.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--editor-line-number-column-bg-color);
}

p {
  padding-right: 1rem;
  margin: 0;
  line-height: 1.85rem;

  color: var(--editor-line-number-color);
  text-align: end;

  &.active {
    color: var(--editor-line-active-number-color);
  }
}