.wrapper {
  height: 100%;
  background-color: var(--editor-line-number-column-bg-color);
}

p {
  padding-left: 2rem;
  padding-right: 1.5rem;
  margin: 0;
  line-height: 1.85rem;

  color: var(--editor-line-number-text-color);
  text-align: end;

  &.active {
    color: var(--editor-line-number-text-active-color);
  }
}