.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.drag-resizer {
    width: 0.5rem;
    background-color: aqua;
    cursor: e-resize;
}

.content {
    width: 90%;
}

.buttons-column {
    width: 65px;

    .button {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--activity-bar-bg-color);
    }
}

img {
    padding: 1rem;
    cursor: pointer;
    height: 1.8rem;
    filter: brightness(2) saturate(100%);

    &:hover {
        filter: brightness(100) saturate(100%);
    }

    &.active {
        filter: brightness(100) saturate(100%);
    }
}